
.background {
   background-color: #fff1d7 ;
}

@font-face {
font-family: knewave;
src: url(css/knewave.ttf);
}

table, th, td {
   text-align: center;
}

table, th {
  font-color: #ef939c;
  font-size: 120%;
}
/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #ef939c;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: #d9d9d9;
  text-decoration: none;
  font-size: 17px;
  width: 33.33%;
  text-align: center;
  font-family: Helvetica;
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #fff1d7;
}

/* Add responsiveness  on screens less than 500px, */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /*  text to be left-aligned on small screens */
  }
}
