@import url('https://fonts.googleapis.com/css?family=Concert+One|Knewave');

.background {
   background-color: #fff1d7 ;
}
/* add nice padding to all the text*/
.text{
  padding-left: 280px;
  padding-right: 250px;
}
/*for about us*/
.colour{
  color: #407d3c;
  text-align: center;
  font-family: 'Knewave', monospace;
}
/*for list headers*/
.header{
  color: #407d3c;
  font-family: 'Knewave', monospace;
}

/*table on about us*/
table, th, td {
   text-align: center;

}

table, th {
  font-size: 120%;
}

table, td{
  font-size: 92%;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #ef939c;
  overflow: auto;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: #d9d9d9;
  text-decoration: none;
  font-size: 20px;
  width: 33.33%;
  text-align: center;
  font-family: 'Knewave', monospace;
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #fff1d7;
}

/* Add responsiveness  on screens less than 500px, */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /*  text to be left-aligned on small screens */
  }
}
/*for images*/
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
